1. Data Loading and Initial Exploration

In [120]:
#Load the dataset using Pandas.

import pandas as pd
df= pd.read_csv(r'C:\Users\hp\Videos\Pandas_Demo\New York listings.csv')

df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.787780,-73.947590,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.712480,-73.958810,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36106,1521617109138096825,"Blueground | Greenpoint, terrace, nr McCarren ...",107434423,NaN,Brooklyn,Greenpoint,40.726369,-73.942045,Entire home/apt,470.0,30,0,NaN,NaN,1148,365,0,NaN
36107,1521841640868213735,Good Day New York - APT 3F,508184140,Jinsup,Manhattan,Midtown,40.763130,-73.978130,Entire home/apt,189.0,30,0,NaN,NaN,6,365,0,NaN
36108,1521845093166881816,Good Day New York - APT 3R,508184140,Jinsup,Manhattan,Midtown,40.763250,-73.977310,Entire home/apt,189.0,30,0,NaN,NaN,6,365,0,NaN
36109,1521846726137559092,Good Day New York - APT 5F,508184140,Jinsup,Manhattan,Midtown,40.763133,-73.978553,Entire home/apt,189.0,30,0,NaN,NaN,6,336,0,NaN
36110,1521848367963498302,Good Day New York - APT 5R,508184140,Jinsup,Manhattan,Midtown,40.763310,-73.977030,Entire home/apt,NaN,30,0,NaN,NaN,6,365,0,NaN

In [4]:
df.shape

(36111, 18)

In [22]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.78778,-73.94759,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.71248,-73.95881,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN

In [24]:
df.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
36101,1521123108461667324,[1],22541573,Furnished Quarters,Manhattan,Midtown,40.757079,-73.980143,Entire home/apt,551.0,30,0,NaN,NaN,165,347,0,NaN
36102,1521373351489187365,Luxury Room in New York City,550625239,Mark,Queens,Long Island City,40.751480,-73.942030,Private room,153.0,30,0,NaN,NaN,1,334,0,NaN
36103,1521433991882012648,Spacious & Cozy 3-Bed Apt in NYC,275691766,Andreza,Queens,Astoria,40.765896,-73.911785,Entire home/apt,247.0,30,0,NaN,NaN,2,243,0,NaN
36104,1521594279458129871,Charming 1BR Near Central Park – UWS,32145396,Alon,Manhattan,Upper West Side,40.780640,-73.977660,Entire home/apt,160.0,31,0,NaN,NaN,10,365,0,NaN
36105,1521616849551765073,"Blueground | Greenpoint, view, nr McGolrick Park",107434423,NaN,Brooklyn,Greenpoint,40.726370,-73.942050,Entire home/apt,373.0,30,0,NaN,NaN,1148,365,0,NaN
36106,1521617109138096825,"Blueground | Greenpoint, terrace, nr McCarren ...",107434423,NaN,Brooklyn,Greenpoint,40.726369,-73.942045,Entire home/apt,470.0,30,0,NaN,NaN,1148,365,0,NaN
36107,1521841640868213735,Good Day New York - APT 3F,508184140,Jinsup,Manhattan,Midtown,40.763130,-73.978130,Entire home/apt,189.0,30,0,NaN,NaN,6,365,0,NaN
36108,1521845093166881816,Good Day New York - APT 3R,508184140,Jinsup,Manhattan,Midtown,40.763250,-73.977310,Entire home/apt,189.0,30,0,NaN,NaN,6,365,0,NaN
36109,1521846726137559092,Good Day New York - APT 5F,508184140,Jinsup,Manhattan,Midtown,40.763133,-73.978553,Entire home/apt,189.0,30,0,NaN,NaN,6,336,0,NaN
36110,1521848367963498302,Good Day New York - APT 5R,508184140,Jinsup,Manhattan,Midtown,40.763310,-73.977030,Entire home/apt,NaN,30,0,NaN,NaN,6,365,0,NaN

1b) Display basic information (.info(), .describe(), .head()).

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36111 entries, 0 to 36110
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36111 non-null  int64
 1   name                            36109 non-null  object
 2   host_id                         36111 non-null  int64
 3   host_name                       34945 non-null  object
 4   neighbourhood_group             36111 non-null  object
 5   neighbourhood                   36111 non-null  object
 6   latitude                        36111 non-null  float64
 7   longitude                       36111 non-null  float64
 8   room_type                       36111 non-null  object
 9   price                           21328 non-null  float64
 10  minimum_nights                  36111 non-null  int64
 11  number_of_reviews               36111 non-null  int64
 12  last_review                     24923 non-null  object
 13  reviews_per_month               24923 non-null  float64
 14  calculated_host_listings_count  36111 non-null  int64
 15  availability_365                36111 non-null  int64
 16  number_of_reviews_ltm           36111 non-null  int64
 17  license                         5376 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 5.0+ MB

In [82]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.611100e+04,3.611100e+04,36111.000000,36111.000000,21328.000000,36111.000000,36111.000000,24923.000000,36111.000000,36111.000000,36111.000000
mean,4.667906e+17,1.756195e+08,40.728253,-73.947350,680.526819,28.610091,27.321232,0.821178,67.455152,162.188724,3.983606
std,5.448721e+17,1.945624e+08,0.056269,0.054995,4480.453282,29.166476,70.308684,1.916104,215.678813,147.262625,19.468284
min,2.595000e+03,1.678000e+03,40.500366,-74.251907,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,2.159416e+07,1.795864e+07,40.688260,-73.983560,89.000000,30.000000,0.000000,0.070000,1.000000,0.000000,0.000000
50%,5.095308e+07,8.832602e+07,40.725960,-73.955000,154.000000,30.000000,3.000000,0.250000,2.000000,150.000000,0.000000
75%,9.747695e+17,3.107737e+08,40.762120,-73.928118,279.000000,30.000000,23.000000,0.900000,9.000000,315.000000,1.000000
max,1.521848e+18,7.214431e+08,40.912017,-73.711822,50104.000000,1124.000000,3736.000000,122.760000,1148.000000,365.000000,1699.000000

In [84]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.70935,-73.95342,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.80107,-73.94255,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.78778,-73.94759,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN
4,7064,"Amazing location! Wburg. Large, bright & tranquil",17297,Joelle,Brooklyn,Williamsburg,40.71248,-73.95881,Private room,NaN,30,13,2022-09-12,0.07,2,0,0,NaN

In [122]:
# Missing values count across the fields

df.isnull().sum()

id                                    0
name                                  2
host_id                               0
host_name                          1166
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             14783
minimum_nights                        0
number_of_reviews                     0
last_review                       11188
reviews_per_month                 11188
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           30735
dtype: int64

In [124]:
# Count of Duplicated rows
df.duplicated().sum()

0

In [126]:
# Data types of the fields

df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

2. Data Cleaning

In [167]:
# Convert price fields into float

df_clean= df.copy()
df_clean['price'] = pd.to_numeric(df_clean['price'], errors ='coerce')

In [169]:
# Parse last_review field to a datetime object

df_clean['last_review']= pd.to_datetime(df_clean['last_review'],errors= 'coerce')

In [171]:
# Handle missing values

df_clean['reviews_per_month'] = df_clean['reviews_per_month'].fillna(0)
df_clean['host_name']= df_clean['host_name'].fillna('Unknown')
df_clean['neighbourhood_group']= df_clean['neighbourhood_group'].fillna('Unknown')

df_clean.isnull().sum()

id                                    0
name                                  2
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             14783
minimum_nights                        0
number_of_reviews                     0
last_review                       11188
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           30735
dtype: int64

In [173]:
# Remove irrelevant rows (Listings with zero availability or price <=0 are irrelevant for analysis by the customer for comparison)

df_clean = df_clean[
                    (~df_clean['availability_365'].isna())
                     & (df_clean['availability_365']> 0)
                     & (~df_clean['price'].isna())
                     & (df_clean['price']> 0)
]

df_clean= df_clean.drop_duplicates()

3. Data Enrichment

In [175]:
# Create a price_per_booking column using price and minimum_nights.

df_clean['price_per_booking'] = df_clean['price']* df_clean['minimum_nights']

In [177]:
# Bucket availability into categories

def bucket(x):
    if pd.isna(x):
        return 'Unknown'
    if x < 100:
        return 'Rare'
    if 100<= x <=300:
        return 'Part-time'
    if x>300:
        return 'Full-time'

df_clean['availability_category']= df_clean['availability_365'].apply(bucket)

In [179]:
df_clean

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,price_per_booking,availability_category
0,2595,Skylit Studio Oasis | Midtown Manhattan Sanctuary,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,240.0,30,47,2022-06-21,0.24,3,289,0,NaN,7200.0,Part-time
1,6848,Only 2 stops to Manhattan studio,15991,Allen,Brooklyn,Williamsburg,40.709350,-73.953420,Entire home/apt,96.0,30,195,2025-06-09,0.98,1,285,3,NaN,2880.0,Part-time
2,6872,Uptown Sanctuary w/ Private Bath (Month to Month),16104,Kahshanna,Manhattan,East Harlem,40.801070,-73.942550,Private room,59.0,30,1,2022-06-05,0.02,2,83,0,NaN,1770.0,Rare
3,6990,UES Beautiful Blue Room,16800,Cynthia,Manhattan,East Harlem,40.787780,-73.947590,Private room,73.0,30,249,2025-05-27,1.28,1,186,4,NaN,2190.0,Part-time
7,8490,"Maison des Sirenes1,bohemian, luminous apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.684556,-73.939634,Entire home/apt,170.0,30,189,2023-10-16,0.96,2,275,0,NaN,5100.0,Part-time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36105,1521616849551765073,"Blueground | Greenpoint, view, nr McGolrick Park",107434423,Unknown,Brooklyn,Greenpoint,40.726370,-73.942050,Entire home/apt,373.0,30,0,NaT,0.00,1148,365,0,NaN,11190.0,Full-time
36106,1521617109138096825,"Blueground | Greenpoint, terrace, nr McCarren ...",107434423,Unknown,Brooklyn,Greenpoint,40.726369,-73.942045,Entire home/apt,470.0,30,0,NaT,0.00,1148,365,0,NaN,14100.0,Full-time
36107,1521841640868213735,Good Day New York - APT 3F,508184140,Jinsup,Manhattan,Midtown,40.763130,-73.978130,Entire home/apt,189.0,30,0,NaT,0.00,6,365,0,NaN,5670.0,Full-time
36108,1521845093166881816,Good Day New York - APT 3R,508184140,Jinsup,Manhattan,Midtown,40.763250,-73.977310,Entire home/apt,189.0,30,0,NaT,0.00,6,365,0,NaN,5670.0,Full-time
36109,1521846726137559092,Good Day New York - APT 5F,508184140,Jinsup,Manhattan,Midtown,40.763133,-73.978553,Entire home/apt,189.0,30,0,NaT,0.00,6,336,0,NaN,5670.0,Full-time

4. Data Analysis Using Pandas

In [181]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21157 entries, 0 to 36109
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              21157 non-null  int64
 1   name                            21157 non-null  object
 2   host_id                         21157 non-null  int64
 3   host_name                       21157 non-null  object
 4   neighbourhood_group             21157 non-null  object
 5   neighbourhood                   21157 non-null  object
 6   latitude                        21157 non-null  float64
 7   longitude                       21157 non-null  float64
 8   room_type                       21157 non-null  object
 9   price                           21157 non-null  float64
 10  minimum_nights                  21157 non-null  int64
 11  number_of_reviews               21157 non-null  int64
 12  last_review                     14814 non-null  datetime64[ns]
 13  reviews_per_month               21157 non-null  float64
 14  calculated_host_listings_count  21157 non-null  int64
 15  availability_365                21157 non-null  int64
 16  number_of_reviews_ltm           21157 non-null  int64
 17  license                         4190 non-null   object
 18  price_per_booking               21157 non-null  float64
 19  availability_category           21157 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(7), object(7)
memory usage: 3.4+ MB

In [183]:
#What are the top 10 most expensive neighborhoods by average price?
top_10 = (df_clean.groupby('neighbourhood')['price'].mean().sort_values(ascending=False).head(10).reset_index().rename(columns={'price':'average_price'}))

top_10

      neighbourhood  average_price
0              SoHo    3418.544776
1  Long Island City    2751.114173
2       Murray Hill    2359.185185
3   Lower East Side    2213.080495
4           Midtown    2168.859813
5   Upper West Side    1894.165659
6            Nolita    1796.104167
7         Chinatown    1684.530201
8    Hell's Kitchen    1577.615942
9   Upper East Side    1145.278139

In [185]:
# What’s the average availability and price by room type?

avg_by_room_type= (df_clean.groupby('room_type').agg(average_availability=('availability_365', 'mean'), average_price=('price','mean')).reset_index().sort_values('average_price', ascending= False))

avg_by_room_type

         room_type  average_availability  average_price
1       Hotel room            293.672489   36431.213974
0  Entire home/apt            254.493690     307.157412
2     Private room            249.534243     231.424348
3      Shared room            282.033520     141.044693

In [191]:
# Which host has the most listings?

#top_hosts= (df_clean.groupby('host_name').size().reset_index(name= 'm_listing').sort_values('m_listing', ascending= False).head(5))

top_hosts = (df_clean[df_clean['host_name']!='Unknown'].groupby('host_name')['calculated_host_listings_count'].sum().sort_values(ascending=False).head(10).reset_index().rename(columns={'calculated_host_listings_count':'listings_count'}))

top_hosts

            host_name  listings_count
0              Eugene          217729
1   LuxurybookingsFZE           96983
2            Jeniffer           56748
3                Tina           55893
4     Urban Furnished           52543
5                 Nat           31832
6  Furnished Quarters           25905
7                 Kaz           20100
8           RoomPicks           19096
9              Darren           17114

In [155]:
#How does average price vary across different boroughs or districts?

average_price_borough = (df_clean.groupby('neighbourhood_group')['price'].mean().reset_index().sort_values('price', ascending= False).rename(columns={'price':'average_price'}))

average_price_borough

  neighbourhood_group  average_price
2           Manhattan    1182.954830
3              Queens     334.952727
1            Brooklyn     247.781598
0               Bronx     130.626667
4       Staten Island     125.556270

In [163]:
# How many listings have never been reviewed?

not_reviewed= (df_clean['number_of_reviews']== 0).sum()

print(f"\nCount of Listings never reviewed: {not_reviewed}")

Count of Listings never reviewed: 6343